{% include "../nav.html" %}

{% load static %}
<style>
    /* Personnalisation de la barre du slider */
    #price-range {
        margin-top: 10px;
        height: 8px; /* Hauteur de la barre */
        width: 50%; /* Largeur ajustable */
        margin: auto;
        border-radius: 5px; /* Coins arrondis */
        background: #ddd; /* Couleur de la barre de base (partie non connectée) */
    }
    
    /* Couleur de la barre connectée (entre les curseurs) */
    #price-range .noUi-connect {
        background: linear-gradient(90deg, #ea001e, #f65656); /* Dégradé pour la partie connectée */
        height: 100%; /* S'assure que la hauteur correspond */
        border-radius: 5px; /* Coins arrondis pour correspondre */
    }

    /* Personnalisation du curseur */
    #price-range .noUi-handle {
        background: #ea001e; /* Couleur du curseur */
        border: 2px solid #fff; /* Bordure blanche autour du curseur */
        width: 20px; /* Largeur du curseur */
        height: 20px; /* Hauteur du curseur */
        border-radius: 50%; /* Donner une forme circulaire au curseur */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Ombre autour du curseur */
    }

    /* Curseur survolé */
    #price-range .noUi-handle:hover {
        background-color: #f65656; /* Changer la couleur du curseur au survol */
        cursor: pointer; /* Changer le type de curseur au survol */
        transform: scale(1.1); /* Agrandir légèrement le curseur lorsqu'il est survolé */
        transition: all 0.3s ease; /* Animation douce lors du survol */
    }

    /* Curseur actif (quand il est déplacé) */
    #price-range .noUi-handle:active {
        background-color: #b30000; /* Changer la couleur du curseur lors de l'interaction */
        transform: scale(1.2); /* Agrandir le curseur quand il est actif */
    }

    /* Curseur de gauche */
    #price-range .noUi-handle-lower {
        background-color: #ea001e; /* Couleur spécifique pour le curseur de gauche */
    }

    /* Curseur de droite */
    #price-range .noUi-handle-upper {
        background-color: #ea001e; /* Couleur spécifique pour le curseur de droite */
    }
    /* Masquer les tooltips au repos */
.noUi-tooltip {
    display: none;
}

/* Afficher les tooltips lorsque le curseur est en cours de déplacement */
.noUi-handle:active .noUi-tooltip {
    display: block; /* Afficher les tooltips */
}

/* Style des champs de formulaire */
.form-floating .form-control, 
.form-floating .form-select {
    background: #f8f9fa;
    border-radius: 8px;
    padding: 12px;
    font-size: 1rem;
}

/* Style des badges (plage de prix) */
#price-labels .badge {
    font-size: 1rem;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style du bouton */
button.btn-primary {
    background: linear-gradient(90deg, #007bff, #0056b3);
    border: none;
    transition: all 0.3s ease;
}

button.btn-primary:hover {
    background: linear-gradient(90deg, #0056b3, #003d80);
    transform: translateY(-2px);
}

/* Style des labels */
label {
    font-size: 0.9rem;
}

/* Ombres pour les sections */
.shadow-sm {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Transitions douces */
.transition {
    transition: all 0.3s ease-in-out;
}
/* Style du bouton rouge */
button.btn-danger {
    background: linear-gradient(90deg, #dc3545, #b02a37); /* Dégradé rouge */
    border: none;
    color: white;
    transition: all 0.3s ease; /* Animation douce */
}

button.btn-danger:hover {
    background: linear-gradient(90deg, #b02a37, #861926); /* Dégradé plus sombre au survol */
    transform: translateY(-2px); /* Légère élévation au survol */
}

button.btn-danger:focus {
    box-shadow: 0 0 8px rgba(220, 53, 69, 0.6); /* Lueur rouge lors du focus */
}


</style>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var slider = document.getElementById('price-range');

        noUiSlider.create(slider, {
            start: [{{ min_price|default:0 }}, {{ max_price|default:1000 }}],  // Valeurs par défaut
            connect: true,  // Relier les deux curseurs
            range: {
                'min': 0,  // Plage minimum
                'max': 1000  // Plage maximum
            },
            step: 10,  // Valeur d'incrément
            tooltips: true,  // Afficher les tooltips avec les valeurs
            format: {
                to: function (value) {
                    return Math.round(value);  // Arrondir la valeur
                },
                from: function (value) {
                    return value;  // Récupérer la valeur sans modification
                }
            }
        });

        // Mettre à jour les champs cachés quand le slider est ajusté
        slider.noUiSlider.on('update', function(values, handle) {
            document.getElementById('min_price').value = values[0];
            document.getElementById('max_price').value = values[1];
        });
    });
</script>



        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Our Offers</h4>
                <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active text-primary">Offers</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

        <!-- Services Start -->
        <div class="container py-5">
            <form method="get" class="row g-4 bg-light p-4 rounded shadow-sm">
                <!-- Titre du formulaire -->
                <div class="col-12 text-center">
                    <h2 class="text-primary fw-bold">Trouvez l'offre parfaite</h2>
                    <p class="text-muted">Utilisez les filtres ci-dessous pour affiner votre recherche.</p>
                </div>
        
                <!-- Recherche par mot-clé -->
                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="text" name="q" class="form-control border-primary shadow-sm" id="keyword-search" placeholder="Rechercher une offre" value="{{ q }}">
                        <label for="keyword-search" class="text-muted">Rechercher une offre</label>
                    </div>
                </div>
                <!-- Tri par prix -->
                <div class="col-md-3">
                    <div class="form-floating">
                        <select name="sort_by" class="form-select border-primary shadow-sm" id="sort-options">
                            <option value="">Trier par</option>
                            <option value="price_asc" {% if sort_by == 'price_asc' %}selected{% endif %}>Prix croissant</option>
                            <option value="price_desc" {% if sort_by == 'price_desc' %}selected{% endif %}>Prix décroissant</option>
                        </select>
                        <label for="sort-options" class="text-muted">Trier par</label>
                    </div>
                </div>

                <!-- Plage par prix -->
                <div class="col-md-5">
                    <label for="price-range" class="form-label fw-bold text-primary">Plage de prix :</label>
                    <div id="price-range-container" style="position: relative;">
                        <div id="price-range" class="border border-primary rounded"></div>
                        <div id="price-labels" class="d-flex justify-content-between mt-2">
                            <span id="min-price-label" class="badge bg-primary p-2">{{ min_price }}</span>
                            <span id="max-price-label" class="badge bg-primary p-2">{{ max_price }}</span>
                        </div>
                    </div>
                    <input type="hidden" name="min_price" id="min_price" value="{{ min_price }}">
                    <input type="hidden" name="max_price" id="max_price" value="{{ max_price }}">
                </div>
        
        
                <!-- Bouton de soumission -->
                <div class="col-12 text-center mt-3">
                    <button type="submit" class="btn btn-danger btn-lg px-5 shadow-sm">
                        <i class="fas fa-search"></i> Rechercher
                    </button>
                    
                </div>
            </form>
        </div>
        
        

        <div class="container-fluid service py-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                    <h1 class="display-5 text-capitalize mb-3">FiThneyti's <span class="text-primary">offers</span></h1>
                    <p class="mb-0">Our application stands out as the best choice, offering you exclusive benefits through our trusted partners. Enjoy a wide range of discounts and advantages tailored just for you. Simply select an offer that suits you and start enjoying the perks today!</p>
                </div>
                <div class="row g-4">
                    {% for offre in list %}
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item p-4">
                            <div class="service-icon mb-4">
                                <i class="fa fa-tag fa-2x"></i>
                            </div>
                            <h5 class="mb-3">{{ offre.title }}</h5>
                            <p class="mb-0">{{ offre.description }}</p>
                            <p><strong>Date de Début:</strong> {{ offre.start_date }}</p>
                            <p><strong>Date de Fin:</strong> {{ offre.end_date }}</p>
                            <p><strong>Prix:</strong> {{ offre.price }} Jetons</p>
                            <a href="{% url 'offre_detail' offre.id %}" class="btn btn-primary rounded-pill py-2 px-4 mt-3">Voir Détails</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        
                <!-- Pagination -->
                <div class="d-flex justify-content-center mt-4">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1&{{ request.GET.urlencode }}" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}
                            
                            {% for num in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}&{{ request.GET.urlencode }}">{{ num }}</a>
                            </li>
                            {% endfor %}
                            
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ request.GET.urlencode }}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                
            </div>
        </div>
        
        <!-- Services End -->

        <!-- Fact Counter -->
        <div class="container-fluid counter py-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="counter-item text-center">
                            <div class="counter-item-icon mx-auto">
                                <i class="fas fa-thumbs-up fa-2x"></i>
                            </div>
                            <div class="counter-counting my-3">
                                <span class="text-white fs-2 fw-bold" data-toggle="counter-up">829</span>
                                <span class="h1 fw-bold text-white">+</span>
                            </div>
                            <h4 class="text-white mb-0">Happy Clients</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="counter-item text-center">
                            <div class="counter-item-icon mx-auto">
                                <i class="fas fa-car-alt fa-2x"></i>
                            </div>
                            <div class="counter-counting my-3">
                                <span class="text-white fs-2 fw-bold" data-toggle="counter-up">56</span>
                                <span class="h1 fw-bold text-white">+</span>
                            </div>
                            <h4 class="text-white mb-0">Number of Cars</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="counter-item text-center">
                            <div class="counter-item-icon mx-auto">
                                <i class="fas fa-building fa-2x"></i>
                            </div>
                            <div class="counter-counting my-3">
                                <span class="text-white fs-2 fw-bold" data-toggle="counter-up">127</span>
                                <span class="h1 fw-bold text-white">+</span>
                            </div>
                            <h4 class="text-white mb-0">Car Center</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="counter-item text-center">
                            <div class="counter-item-icon mx-auto">
                                <i class="fas fa-clock fa-2x"></i>
                            </div>
                            <div class="counter-counting my-3">
                                <span class="text-white fs-2 fw-bold" data-toggle="counter-up">589</span>
                                <span class="h1 fw-bold text-white">+</span>
                            </div>
                            <h4 class="text-white mb-0">Total kilometers</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fact Counter -->

        <!-- Testimonial Start -->
        <div class="container-fluid testimonial py-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                    <h1 class="display-5 text-capitalize mb-3">Our Clients<span class="text-primary"> Riviews</span></h1>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut amet nemo expedita asperiores commodi accusantium at cum harum, excepturi, quia tempora cupiditate! Adipisci facilis modi quisquam quia distinctio,
                    </p>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item">
                        <div class="testimonial-quote"><i class="fa fa-quote-right fa-2x"></i>
                        </div>
                        <div class="testimonial-inner p-4">
                            <img src="/static/img/testimonial-1.jpg" class="img-fluid" alt="">
                            <div class="ms-4">
                                <h4>Person Name</h4>
                                <p>Profession</p>
                                <div class="d-flex text-primary">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star text-body"></i>
                                </div>
                            </div>
                        </div>
                        <div class="border-top rounded-bottom p-4">
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam soluta neque ab repudiandae reprehenderit ipsum eos cumque esse repellendus impedit.</p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-quote"><i class="fa fa-quote-right fa-2x"></i>
                        </div>
                        <div class="testimonial-inner p-4">
                            <img src="/static/img/testimonial-2.jpg" class="img-fluid" alt="">
                            <div class="ms-4">
                                <h4>Person Name</h4>
                                <p>Profession</p>
                                <div class="d-flex text-primary">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star text-body"></i>
                                    <i class="fas fa-star text-body"></i>
                                </div>
                            </div>
                        </div>
                        <div class="border-top rounded-bottom p-4">
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam soluta neque ab repudiandae reprehenderit ipsum eos cumque esse repellendus impedit.</p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-quote"><i class="fa fa-quote-right fa-2x"></i>
                        </div>
                        <div class="testimonial-inner p-4">
                            <img src="/static/img/testimonial-3.jpg" class="img-fluid" alt="">
                            <div class="ms-4">
                                <h4>Person Name</h4>
                                <p>Profession</p>
                                <div class="d-flex text-primary">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star text-body"></i>
                                    <i class="fas fa-star text-body"></i>
                                    <i class="fas fa-star text-body"></i>
                                </div>
                            </div>
                        </div>
                        <div class="border-top rounded-bottom p-4">
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam soluta neque ab repudiandae reprehenderit ipsum eos cumque esse repellendus impedit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

        <!-- Banner Start -->
        <div class="container-fluid banner pb-5 wow zoomInDown" data-wow-delay="0.1s">
            <div class="container pb-5">
                <div class="banner-item rounded">
                    <img src="/static/img/banner-1.jpg" class="img-fluid rounded w-100" alt="">
                    <div class="banner-content">
                        <h2 class="text-primary">Rent Your Car</h2>
                        <h1 class="text-white">Interested in Renting?</h1>
                        <p class="text-white">Don't hesitate and send us a message.</p>
                        <div class="banner-btn">
                            <a href="#" class="btn btn-secondary rounded-pill py-3 px-4 px-md-5 me-2">WhatchApp</a>
                            <a href="#" class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner End -->

        {% include "../footer.html" %}